#autopilot .controls {
  margin: 1em 0;
}

#autopilot button.active {
  background: red;
  color: white;
}

canvas, svg {
  background: white;
  border: 1px solid black;
}

#autopilot input {
  width: 4em;
}
