@import url(gyroscope.css);

* {
  font-family: Verdana;
}

#viz {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

formfield {
  display: block;
}

.map-pin {
  --f: 2;
  --w: calc(73px / var(--f));
  --h: calc(53px / var(--f));
  width: var(--w) !important;
  height: var(--h) !important;
}

.map-pin img {
  width: var(--w) !important;
  height: var(--h) !important;
  position: relative;
  top: calc(0px - var(--h) / 8);
  transform-origin: calc(var(--w) / 2) calc(var(--h) / 2);
  transform: rotate(1deg * var(--deg));
}

.map-pin img.pin {
  position: absolute;
  transform: translate(0, calc(0em - 1em * var(--altitude)))
    rotate(calc(1deg * var(--deg)));
}

input#title {
  border: none;
  font-size: 1rem;
  color: inherit;
  width: 30em;
}

.viz {
  display: flex;
  flex-direction: row;
}

#map {
  border: 1px solid black;
}

#plane-icon {
  --altitude: 0;
  --deg: 0;
}

#plane-icon div.label {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 2px 5px;
}

#plane-icon div.alt {
  transform: translate(0, min(-4em, calc(-4em - 1em * var(--altitude))));
}

#plane-icon div.alt.ground {
  transform: translate(0, 3em);
}

#plane-icon div.speed {
  transform: rotate(calc(90deg + 1deg * var(--deg))) translate(5em, 0)
    rotate(calc(-90deg - 1deg * var(--deg)));
}

hr.pin-line {
  position: absolute;
  border: 1px solid red;
  width: calc(1em * var(--altitude));
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-0.5em, calc(var(--w) / 2));
}

hr.speedo {
  position: absolute;
  border: 1px solid red;
  width: calc(1em * var(--speed) / 50);
  transform-origin: 0% 0%;
  transform: translate(calc(var(--w) / 2), 0.5em)
    rotate(calc(-90deg + 1deg * var(--deg)));
}

img.shadow {
  position: absolute;
  filter: blur(3px) opacity(0.5);
  transform: rotate(calc(1deg * var(--deg)));
}
